#principal {
color:magenta;
font-style: italic;
}
.destaque {
color:green;
font-weight: bold;
}
.extra {
text-decoration: 
underline;
}
p {
color:red;
}
div {
color:blue;
}
p, div {
font-family: Arial;
font-size: 15px;
}
* {
font-family: calibri;
}
.destaque:hover {
background-color: yellow;
}
div > p {
background-color:beige;
}
div span {
font-size: 8px;
}
