body{
  background-color: yellow;
}

@media screen and (max-width:700px){
  body{
    background-color: orange;
  }
}

@media screen and (max-width:600px){
  body{
    background-color: red;
  }
}

@media screen and (orientation: portrait){
  body{
    background-color: cyan;
  }
}

@media screen and (orientation: landscape) {
  body {
    background-color: purple;
  }
}

@media print {
  body {
    font-style: italic;
    color: green;
  }
} 